nav{
    border:1px solid black;
    text-align: center;   
}
ul{
    list-style-type:none;
    padding: 15px;
}
li{
    display:inline;
    padding:30px;
    font-size: 20px;
}
a:hover{
    color: peachpuff;
    font-size: larger;
}
a:link{
    text-decoration: none;
}
section{
    text-align:center;
    margin-top:50px;
}
article{
    text-align:center;
}
form{
    padding:50px;
    margin-left:30%;
    width:50px;
}
#row1{
    text-align:center;
}
#row2{
    text-align:center;
}
#row3{
    text-align:center;
}
#about{
    width: 30%;
    float:left;
}
#about p{
    text-align: justify;
}
#edje{
    width:30%;
    float:left;
}
#kung{
    border-radius: 50%;
    width:30%;
    float:left;
}
#kung img{
    border-radius: 50%;
}
article{
    padding:30px;
}
form{
    text-align:right;
    
}